*{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
.myHeader{
    text-align: center;
    padding: 20px;
}
/*@media screen and (max-width: 900px){*/
.container{
    display: grid;
    background-color: rgb(27, 27, 27);
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(11, 1fr);

    /* height: 700px;*/
    height: 700px;
    width: 1100px;
    margin: auto;
}
.grid-item{
    border: black 5px solid;
    background-size: cover;
}
.div1{
    grid-area: 1; /*-----------------------------------keep in mind*/

    grid-column: span 2; /* good*/
    grid-row: span 1;
    background-image: url(images/01.jpg);
}
.div2{
    grid-area: 2;

    grid-column: span 3; /* good*/
    grid-row: span 1;
    background-image: url(images/02.jpg);
}
.div3{
    grid-area: 3;

    grid-column: span 2; /* good*/
    grid-row: span 1;
    background-image: url(images/03.jpg);
}
.div4{
    grid-area: 4;

    grid-column: span 1; /* good*/
    grid-row: span 6;
    background-image: url(images/04.jpg);
}
.div5{
    grid-area: 5;

    grid-column: span 1; /* good*/
    grid-row: span 2;
    background-image: url(images/05.jpg);
}
.div6{
    grid-area: 6;

    grid-row-start: 2; /* good*/
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 5;

    background-image: url(images/06.jpg);
}
.div7{
    grid-area: 7;

    grid-column: span 2; /* good*/
    grid-row: span 2;
    background-image: url(images/07.jpg);
}
.div8{
    grid-area: 8;

    grid-column: span 1; /* good*/
    grid-row: span 3;
    background-image: url(images/08.jpg);
}
.div9{
    grid-area: 9;

    grid-column: span 1; /* good*/
    grid-row: span 2;
    background-image: url(images/09.jpg);
}
.div10{
    grid-area: 10;
    
    grid-column: span 1; /* good*/
    grid-row: span 2;
    background-image: url(images/10.jpg);
}
.div11{
    grid-area: 11;
    
    grid-column: span 2; /* good*/
    grid-row: span 2;
    background-image: url(images/11.jpg);
}
.div12{
    grid-area: 12;
    
    grid-row-start: 5; /* good*/
    grid-row-end: 6;
    grid-column-start: 9;
    grid-column-end: 11;
    background-image: url(images/12.jpg);
}
.div13{
    grid-area: 13;
    
    grid-column: span 2; /* good*/
    grid-row: span 1;
    background-image: url(images/13.jpg);
}
.div14{
    grid-area: 14;
    
    grid-row-start: 6; /* good*/
    grid-row-end: 3;
    grid-column-start: 11;
    grid-column-end: 11;
    background-image: url(images/14.jpg);
}
.div15{
    grid-area: 15;
    
    grid-row-start: 5; /*good*/
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 8;
    background-image: url(images/15.jpg);
}
.div16{
    grid-area: 16;
    
    grid-row-start: 6; /* good*/
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(images/16.jpg);
}
.div17{
    grid-area: 17;
    
    grid-column: span 1; /* good*/
    grid-row: span 3;
    background-image: url(images/17.jpg);
}
.div18{
    grid-area: 18;
    
    grid-row-start: 6; /* good*/
    grid-row-end: 9;
    grid-column-start: 5;
    grid-column-end: 3;
    background-image: url(images/18.jpg);
}
.div19{
    grid-area: 19;
    
    grid-row-start: 6; /* good*/
    grid-row-end: 6;
    grid-column-start: 12;
    grid-column-end: 9;
    background-image: url(images/19.jpg);
}
.div20{
    grid-area: 20;
    
    grid-row-start: 7; /*good*/
    grid-row-end: 8;
    grid-column-start: 12;
    grid-column-end: 8;
    background-image: url(images/20.jpg);
}
@media (max-width: 900px) {
    .container {
        display: grid;
        width: 600px;
        height: 850px;
        background-color: rgb(27, 27, 27);
        grid-template-rows: repeat(9, 1fr);       /* fix */
        grid-template-columns: repeat(10, 1fr);     /* fix */
        grid: "1 1 2 2 2 3 3 4"
              "5 6 6 6 6 7 7 4"
              "5 6 6 6 6 7 7 4"
              "8 6 6 6 6 9 10 4"
              "8 6 6 6 6 9 10 4"
              "8 11 11 12 12 13 13 4"
              "14 11 11 15 15 16 16 17"
              "14 18 18 19 19 16 16 17"
              "14 18 18 20 20 20 20 17"
    }
}
@media (max-width: 600px) {
    .container {
        display: grid;
        width: 360px;
        height: 850px;
        background-color: rgb(27, 27, 27);            
        grid-template-rows: repeat(12, 1fr);          /* fix */
        grid-template-columns: repeat(5, 1fr);        /* fix */
        grid: "1 1 2 2 2 2"
              "3 3 4 5 8"
              "7 7 4 5 8"
              "7 7 4 9 8"
              "10 4 9"
              "10 4 11 11"
              "20 20 4 11 11"
              "6 6 6 6 14"
              "6 6 6 6 14"
              "6 6 6 6 14"
              "6 6 6 6 17"
              "13 13 15 15 17"
              /*"13 13 15 15 17"
              "16 16 18 18 17"
              "16 16 18 18"
              "19 19"
              "20 20 20 20"*/
    }
}*/
}